<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
  <title>Document</title>
</head>
<body>    
    <table>
      <thead>
        <tr>
            <td>titulo</td>
            <td>artista</td>
            <td>genero</td>
            <td>precio</td>
            <td>duracion</td>
            <td>lanzamiento</td>
            <td>operations</td>
        </tr>
      </thead>  
      <tbody>
        {% for usuario in cancion %}
        <tr>
            <td>{{usuario.0}}</td>
            <td>{{usuario.1}}</td>
            <td>{{usuario.2}}</td>
            <td>{{usuario.3}}</td>
            <td>{{usuario.4}}</td>
            <td>{{usuario.5}}</td>
            <td>
            <a href="{{ url_for('editar_cancion', titulo=cancion[0]) }}">Editar</a> 
            <a href="{{ url_for('eliminar_cancion', titulo=cancion[0]) }}">Eliminar</a></td>  
            </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>