<DOCTYPE html>
    <html lang="es">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/inicio.css">
      </head>
      <body>
      <div class="container">
        <form class='init' class='/login'  method="POST">
            <h1>iniciar sesion</h1>
              <div class="magali">
                  <label for="usuario"></label>
                  <input class="controls" type ="text" name="usuario" id = "usuario" placeholder="dijita tu usuario" requeried name = "usuario">
                </div> 
                <div class="magali">
                  <label for="contrasena"></label>
                  <input class="controls" type ="text" name="contrasena" id = "contrasena" placeholder="dijita tu contraseña" requeried name = "contrasena">
                </div>
                <button type="submit"> iniciar </button>
        </form>
</html>