<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inicio.css">
</head>
<body>
<div class="container">
  <form class='/Registrar' method="POST">
    <div class="magali">
    <h1>REGISTRARSE</h1>
    </div>
      <div class="magali">
          <label for="nombre"></label>
          <input class="controls" type ="text" name="nombre" id = "nombre" placeholder="dijita tu nombre" requeried name = "nombre">
        </div> 
        <div class="magali">
          <label for="apellido"></label>
          <input class="controls" type ="text" name="apellido" id = "apellido" placeholder="dijita tu apellido" requeried name = "apellido">
        </div>
        <div class="magali">
          <label for="email"></label>
          <input class="controls" type ="text" name="email" id = "email" placeholder="dijita tu email" requeried name = "email">
        </div>
        <div class="magali">
          <label for="direccion"></label>
          <input class="controls" type ="text" name="direccion" id = "direccion" placeholder="dijita tu direccion" requeried name = "direccion">
        </div>
        <div class="magali">
          <label for="telefono"></label>
          <input class="controls" type ="text" name="telefono" id = "apellido" placeholder="dijita tu telefono" requeried name = "telefono">
        </div>
        <div class="magali">
          <label for="usuario"></label>
          <input class="controls" type ="text" name="usuario" id = "usuario" placeholder="dijita tu usuario" requeried name = "usuario">
        </div>
        <div class="magali">
        <label for="contrasena"></label>
          <input class="controls" type ="password" name="contrasena" id = "contrasena" placeholder="dijita tu contraseña" requeried name = "contrasena">
        </div>
        <div class="magali">
          <label for="rol">Asignacion de rol:</label>
          <select id="rol" name="txtrol" required>
            <option value="Administrador">Administrador</option>
            <option value="Comprador">Comprador</option>
           
            <!-- Agrega más opciones según sea necesario -->
          </select>
        </div>
        <div class="magali">
          <button type="submit"> registrarse </button>
        </div>
    <table>
            
           
    </div>
</div>

</body>
</html>